# Dependencies
node_modules
.pnpm-store
.npm
.yarn

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Next.js
.next
out

# Misc
.DS_Store
*.pem

# Debug
.vscode
.idea

# Version control
.git
.gitignore

# Environment files
.env
.env.*
!.env.example

# Documentation
README.md
*.md 