@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: var(--font-geist-sans);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}

@layer base {
    :root {
        /* Variables para el modo claro */
        --background: 0 0% 98%; /* Fondo más suave en modo claro */
        --foreground: 0 0% 15%; /* Texto negro en modo claro */
        --border: 0 0% 89.8%; /* Borde claro */
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 193 75% 55%; /* Azul primario más suave */
        --primary-foreground: 0 85.7% 97.3%;
        --secondary: 0 0% 90%; /* Secundario un poco más oscuro */
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 95%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --input: 0 0% 89.8%;
        --ring: 193 75% 55%; /* El mismo azul suave en el ring */
        --radius: 0.5rem;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --sidebar-background: 0 0% 98%; /* Sidebar más suave */
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
        --header-background: 0 0% 98%; /* Fondo de la cabecera en modo claro */


    }

    /* Variables para el modo oscuro */
    .dark {
        --background: 0 0% 18%; /* Fondo oscuro */
        --border: 0 0% 25%; /* Borde oscuro */
        --foreground: 0 0% 75%; /* Texto blanco en modo oscuro */
        --card: 0 0% 18%; /* Fondo oscuro para tarjetas */
        --card-foreground: 0 0% 98%; /* Texto blanco en las tarjetas */
        --popover: 0 0% 18%; /* Fondo oscuro para popovers */
        --popover-foreground: 0 0% 98%; /* Texto claro en popovers */
        --primary: 193 75% 50%; /* Azul primario suave */
        --primary-foreground: 0 85.7% 97.3%; /* Texto sobre primario claro */
        --secondary: 0 0% 25%; /* Secundario oscuro */
        --secondary-foreground: 0 0% 98%; /* Texto claro sobre color secundario */
        --muted: 0 0% 30%; /* Fondo atenuado oscuro */
        --muted-foreground: 0 0% 63.9%; /* Texto gris claro sobre muted */
        --accent: 0 0% 25%; /* Fondo de acento gris suave */
        --accent-foreground: 0 0% 98%; /* Texto claro sobre acento */
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%; /* Texto claro sobre destructivo */
        --input: 0 0% 25%; /* Fondo de entradas con bordes más oscuros */
        --ring: 193 75% 50%; /* El mismo azul suave para el anillo */
        --sidebar-background: 0 0% 18%; /* Fondo gris oscuro en sidebar */
        --sidebar-foreground: 240 4.8% 95.9%; /* Texto claro en sidebar */
        --sidebar-primary: 224.3 76.3% 48%; /* Tono más suave para el sidebar primario */
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%; /* Acento oscuro en sidebar */
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 0 0% 25%; /* Bordes más oscuros en sidebar */
        --sidebar-ring: 217.2 91.2% 59.8%;
        --header-background: 0 0% 18%; /* Fondo de la cabecera en modo oscuro */

      
    }
}

/* Aplica el borde de la variable */
@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

  
}
